#giphyModal{

    #giphyModalTitle{
        span{
            font-style: italic;
            font-size: .5em;
        }
    }

    .gifOptions{
        width: 15vw;
    }

    #selectGifBtn{
        display: none;
    }
}