$lightYellow: #FBF0C6;
$lightOrange: #FAD4A7;
$froggyGreen: #50641d;


$darkBlack: #212121;
$darkLightGreen: #C8E6C9;
$darkOrange: #FF5252;
$darkGreen: #388E3C;
$darkGray: #455A64;

:root {
  --primary-color: #50641d;
  --secondary-color: #FAD4A7;
  --bg-color: #FBF0C6;
  --font-color: black;
  --heading-color: #FAD4A7;
  --heading-icons: black;
}

[data-theme='dark'] {
  --primary-color: #FF5252;
  --secondary-color: #212121;
  --bg-color: #455A64;
  --font-color: #C8E6C9;
  --heading-color: #212121;
  --heading-icons: #C8E6C9;
}

[data-theme='pink'] {
  --primary-color: #C2185B;
  --secondary-color: #FF4081;
  --bg-color: #F8BBD0;
  --font-color: #212121;
  --heading-color: #FF4081;
  --heading-icons: #212121;
}

[data-theme='swamp'] {
  --primary-color: #795548;
  --secondary-color: #AFB42B;
  --bg-color: #F0F4C3;
  --font-color: #212121;
  --heading-color: #AFB42B;
  --heading-icons: #212121;
}