@import '../../../styles/colors';

#msgDiv{
    margin-top: 21vh;
}

.messageCard{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    font-family: 'Monserrat', 'Ubuntu', sans-serif;
    margin: 10px;
    color: var(--font-color);

    .modifyMsg{

        color: var(--primary-color);
        border-left: 2px solid var(--primary-color);
        padding: 0;

        button{
            background-color: transparent;
            border: none;
            color: var(--primary-color);
            &.delete{
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
    
    .msgDetails{
        border-right: 2px solid var(--primary-color);

        .user{
            font-family: 'Mitr', 'Ubuntu', sans-serif;
            font-size: 1.5em;
            max-width: 100%;
            overflow-x: hidden;
        }

        .timeStamp{
            color: var(--primary-color);
        }
    }
}

@media screen and (max-width: 767px){
    .messageCard{
        .modifyMsg{
            border-left: none;
            border-top: 2px solid var(--primary-color);
            margin-left: 0;
        }
        .msgDetails{
            border-right: none;
            border-bottom: 2px solid var(--primary-color);
        }
    }
}

@media screen and (max-height: 823px){
    #msgDiv{
        margin-top: 34vh;
    }

    @media screen and (max-height: 678px){
        #msgDiv{
            margin-top: 40vh;
        }

        @media screen and (min-width: 400px){
            #msgDiv{
                margin-top: 43vh;
            }
        }
    }
}