@import '../../../styles/colors';

.messageCard{
    background-color: $lightOrange;
    border: 2px solid $froggyGreen;
    border-radius: 10px;
    font-family: 'Monserrat', 'Ubuntu', sans-serif;
    margin: 10px;

    .modifyMsg{
        color: $froggyGreen;
        border-left: 2px solid $froggyGreen;

        .delete{
            background-color: transparent;
            border: none;
            color: $froggyGreen;
            font-size: 1.5em;
            font-weight: bold;
        }

        .edit{
            height: 100%;
        }
    }
    
    .msgDetails{
        border-right: 2px solid $froggyGreen;

        .user{
            font-family: 'Mitr', 'Ubuntu', sans-serif;
            font-size: 1.5em;
            margin: 1em;
        }

        .timeStamp{
            color: $froggyGreen;
        }
    }
}

